extends layout

block content
  h1= title

  form(action="/connect", method="post")
    div
      label(for="email") Courriel/Nom d'utilisateur:
      input(type="text", id="email", name="email")
    div
      label(for="password") Mot de passe:
      input(type="password", id="password", name="password")
    div
      input(type="submit", value="Se connecter")

  if failed 
    p= failed
