doctype html
html
  head
    title Page non trouvée
    link(rel='stylesheet', href='/stylesheets/style.css') 
  body
    nav.navbar
        // Left
        a.logo(href='/')
          img(src='/logos/Full_Logo_Horizontal.png',width='310', height='75')
  
        // Right
        ul.nav-links
          li
            a(href='/') Challenges
          li
            a(href='/scoreboard') Scoreboard
          li
            a(href='/myprofile') Mon compte
          li
            a(href='/disconnect') Déconnexion

    #background-element       
      div.container-error
        h1 Erreur 404 : Page non trouvée
        p La page que vous recherchez a peut-être été supprimée, a changé de nom ou est temporairement indisponible.
        button(type='button', onclick="location.href='/'", class='error-button') Retourner à la liste des challenges

  script(src="/javascripts/vantaThree.js")
  script(src="/javascripts/vantaNet.js")
  script(src="/javascripts/background-element.js")
