doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar
        // Left
        a.logo(href='/')
            img(src='/logos/Full_Logo_Horizontal.png',alt="Website logo",width='310', height='75')

        // Right
        ul.nav-links
          li
            a(href='/') Challenges
          li
            a(href='/scoreboard') Scoreboard
          li
            a(href='/myprofile') Mon compte
          li
            a(href='/disconnect') Déconnexion

    #background-element
      block content
        div.scoreboard-container
          section.table__header
            h1 Scoreboard

          section.table__body
            table.table-scoreboard
              thead
                tr
                  th Classement
                  th Utilisateur
                  th Points
              tbody
                each user, index in users
                  
                  tr(id='podium-' + (index + 1), onclick='redirectToUser('+user.idUser+')')
                    td
                      if index === 0
                        img.medal(src='/images/first-place.jpeg')
                      else if index === 1
                        img.medal(src='/images/second-place.jpeg')
                      else if index === 2
                        img.medal(src='/images/third-place.jpeg')
                      else
                        p= user.rank
                    td
                      a.username-link(href='/user/' + user.idUser)= user.username
                    td= user.score

    script.
      function redirectToUser(id) {
        window.location.href = "/user/"+id;
      }

    script(src="/javascripts/vantaThree.js")
    script(src="/javascripts/vantaNet.js")
    script(src="/javascripts/background-element.js")
