doctype html
html
  head
    title= title

  body
    nav.navbar
        // Left
        a.logo(href='/') Site's logo

        // Right
        ul.nav-links
          li
            a(href='/connect') Connection
          li
            a(href='/challenges') Challenges
          li
            a(href='/scoreboard') ScoreBoard
          li
            a(href='/myprofile') My Profile
          li
            a(href='/disconnect') Disconnection
            
    h1= title
  