doctype html
html
  head
    title= title

  body
    nav.navbar
        // Left
        a.logo(href='/') Site's logo

        // Right
        ul.nav-links
          li
            a(href='/') Challenges
          li
            a(href='/scoreboard') Scoreboard
          li
            a(href='/myprofile') Mon compte
          li
            a(href='/disconnect') Déconnexion
            
    #background-element       
    h1= title
  script(src="/javascripts/vantaThree.js")
  script(src="/javascripts/vantaNet.js")
  script(src="/javascripts/background-element.js")

  